// Import Font

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

// Variable declaration //

//Font stack
$font-stack: 'Manrope', sans-serif;

//colors
$primary-cyan: hsl(193, 38%, 86%);
$primary-green: hsl(150, 100%, 66%);
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

// reset

* {
    padding: 0;
    margin: 0;
    font-family: $font-stack
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: $dark-blue;
}

.advice-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $dark-grayish-blue;
    min-height: 38vh;
    width: 65vh;
    border-radius: 3%;
    gap: 4vh;
}

.quotes-container {
    display: flex;
    min-height: 10vh;
}

h1 {
    color: $primary-green;
    font-size: 1rem;
    font-weight: normal;
}

h2 {
    text-align: center;
    color: $primary-cyan;
    font-size: 1.75rem;
    margin-left: 1vh;
    margin-right: 1vh;
}

.mobile-image {
    display: none;
}

.button {
    position: absolute;
    top: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 6vh;
    height: 6vh;
    background-color: $primary-green;
}

.button:hover {
    color: $primary-green;
    box-shadow: 0px 1px 40px $primary-green;
}

@media screen and (max-width:375px){
    .advice-container {
        width: 40vh;
        min-height: 45vh;
        gap: 2.5vh;
        
    }

    .mobile-image {
        display: flex;
    }

    .desktop-image {
        display: none;
    }

    .button {
        top: 68vh;
        width: 10vh;
        height: 10vh;
    }

    p {
        font-size: 0.5;
    }
    
}